.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60em;
}

.small{text-align: center;}

.small img{max-height: 60px; width: auto;}

img#big{display: block; max-width: 100%; height: auto;}

.gallery button{
    display: block;
    border: 2px solid blue;
    color: blue;
    background: transparent;
    margin: 5px auto;
    font-size: 1.5em;
    padding: 5px 10px;
}